<!DOCTYPE html>
<html lang="en">

<body>

        <main class="play">
                <section class="pagecontent">
                    Welcome <%= user.details.firstname %>
                        <%= user.details.lastname %>
                </section>
        </main>

</body>

</html>