<!DOCTYPE html>
<html lang="en">

<body>

        <main class="play">
                <section class="pagecontent">
                    Welcome
                </section>
        </main>

</body>

</html>